body{
	font-family: 30px;
	font-family: the time new roman;
	color: white;
	background-color: #FEDADA;
	background-image:
	background-size: 100
}

h1 {
width: 400px;
height: 250px;
background: red;
text-align: center;
margin-top: 160px;
border-radius: 15px;
color: black;
border-color: black;
}
#formulario{
width: 50%;
margin-left: 30%;


}